################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TEEBLOG/obj
/.vs
/Core/bin/Debug/net6.0
/Logic/bin/Debug/net6.0
/TEEBLOG/bin/Debug/net6.0
/Logic/obj
