@model Core.ViewModels.RegisterViewModel
@{
	ViewData["Title"] = "Register";
}




<div style="margin-top: 100px;"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-xm-12 col-md-4 col-lg-4 col-xl-4 m-auto">
			<h3 class="p font-weight-bold my-3 text-center"> TeeBlog.Com</h3> <br />
			<div class="card p-4 bg-light">
				<h3 class="h5 font-weight-bold my-3 text-center"> Register </h3>
				<p class="text-center"> Do not repeat an email during registration</p>
				<div class="form-group">
					<label for="FirstName">First Name</label>
					<input type="text" id="firstName" class="form-control">
					<div id="firstNameError" class="error"></div>
				</div>
				<div class="form-group">
					<label for="LastName">Last Name</label>
					<input type="text" id="lastName" class="form-control">
					<div id="lastNameError" class="error"></div>
				</div>
				<div class="form-group">
					<label for="Email"> Email Address</label>
					<input type="Email" id="email" class="form-control">
					<div id="emailError" class="error"></div>
				</div>
				<div class="form-group">
					<label for="Password"> Password</label>
					<input type="password" id="password" class="form-control">
					<div id="passwordError" class="error"></div>
				</div>
				<div class="form-group">
					<label for="ComfirmPassword"> Confirm Password</label>
					<input type="password" id="confirmPassword" class="form-control">
					<div id="confirmPasswordError" class="error"></div>
				</div>

				<div class="form-group form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input">
						I agree accept the <a asp-controller="" asp-action="" class="text-primary"> Terms and Conditions</a>
					</label>
				</div>
				<button type="submit" onclick="register()" class="btn btn-success btn-block"> Register</button> <br />
				<p>Already have an account? <a asp-action="Login" asp-controller="Account">Login</a></p>
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 150px;"></div>