@{
	ViewData["Title"] = "UserVerification";
	Layout = "~/Views/Shared/_UserVerificationLayout.cshtml";
}

<div class="container-fluid" style="margin-top: 30px;">
	<div class="row">
		<div class="col-sm-12 col-xm-12 col-md-4 col-lg-4 col-xl-4 m-auto">
			<h5 class="p font-weight-bold my-3 text-center"> TeeBlog.Com</h5> <br />
			<div class="card p-4 bg-light">
				<h3 class="h6 font-weight-bold my-3 text-center"> User Verification</h3>
				<div class=" text-center text-dark">
					<h4> Email Verification Successful </h4>
					<br />
					<p>Please Proceed to <a asp-controller="Account" asp-action="Login" class="text-primary"> Login</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 190px;"></div>

