@inject Logic.IHelper.IUserHelper _userHelper
@{
    var user = _userHelper.FindUserByEmail(User.Identity.Name);
    var userRole = _userHelper.GetUserRole(user.Id);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TEEBLOG</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <!-- include summernote css -->
    <link href="~/summernote/summernote-bs4.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TEEBLOG.styles.css" asp-append-version="true" />
    <link href="~/css/sweetalert.min.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


    <script>
		function errorAlert(message) {
			Swal.fire({
                title: 'Oops',
				icon: 'error',
				text: message,
				timer: 60000,
				confirmButtonColor: "red",
			})
		}

		function infoAlert(message) {
			Swal.fire({
                title: 'Incorrect Details',
				icon: 'info',
				text: message,
				confirmButtonColor: "blue",
			})
		}

		//function infoAlertWithStyles(message) {
		//	Swal.fire({
		//		title: 'Incomplete Payment',
		//		icon: 'info',
		//		text: message,
		//		confirmButtonColor: "#FF9B44",
		//	})
		//}

		//function successAlert(message) {
		//	Swal.fire({
		//		icon: 'success',
		//		text: message,
		//		timer: 60000,
		//		confirmButtonColor: "#FF9B44",
		//	})
		//}

		//function newErrorAlert(message, url) {
		//	Swal.fire({
		//		icon: 'error',
		//		text: message,
		//		confirmButtonColor: "#FF9B44",
		//	}).then((isConfirm) => {
		//		if (isConfirm) {
		//			location.reload(url);
		//		}
		//	})
		//}

		function newSuccessAlert(message, url) {
			Swal.fire({
                title: 'Successful',
				icon: 'success',
				text: message,
				confirmButtonColor: "green",
			}).then((isConfirm) => {
				if (isConfirm) {
                    location.href = url;
				}
			})
		}
		//function successAlertWithRedirect(message, url) {
		//	Swal.fire({
		//		title: "Success",
		//		text: message,
		//		icon: "success",
		//		timer: 30000,
		//		overlay: "background - color: rgba(43, 165, 137, 0.45)",
		//		confirmButtonColor: "#FF9B44",
		//	}).then(function () {

		//		location.href = url;
		//	})
		//}
	</script>


    @*<script>

        function newSuccessAlert(message, url) {
            Swal.fire({
                icon: "success",
                title: "Succeeded",
                text: message,
                confirmButtonColor: "#FF9B44",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.href = url;
                }
            })
        }

        function errorAlert(message) {
            Swal.fire({
                icon: "error",
                title: 'Oops',
                text: message,
                confirmButtonColor: "#FF9B44",
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: "warning",
                title: "Incorrect Details",
                text: message,
                confirmButtonColor: "#FF9B44",
            })
        }
    </script>*@

       
</head>

<body class="bg-light">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white fixed-top mb-2 p-3">
            <div class="container-fluid" style="color: #012970;">
                <p class="navbar-brand font-2 font-weight-bold" style="color: #012970;">TeeBlog</p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="navbar-collapse collapse justify-content-end" style="color: #012970;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #012970;" asp-controller="" asp-action=""> </a>
                        </li>
                    </ul>
                 @*   <div class="dropdown">
                        <h6 class="dropdown-toggle" data-toggle="dropdown" id="">
                            Ugwu Teena
                        </h6>
                        <div class="dropdown-menu text-center">
                            <p class="dropdown-header text-center">Ugwu Teena </p>
                            <hr class="dropdown-divider" />
                            <a class="dropdown-item" asp-controller="Profile" asp-action="UpdateProfile"><i class="fa fa-edit"></i> Update Profile</a>
                            <hr class="dropdown-divider" />
                            <a class="dropdown-item" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out"></i>Log Out</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </nav>
    </header>

    <aside class="sidebar bg-white">
        <ul class="sidebar-nav mt-3">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Admin" asp-action="Dashboard"> <i class="fa fa-tachometer icon"></i>&nbsp; Dashboard </a>
                <hr class="dropdown-divider" />
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Admin" asp-action="Category"> <i class="fa fa-book icon"></i>&nbsp; Category </a>
                <hr class="dropdown-divider" />
            </li>
                @if (userRole?.ToLower() == "super")
                {
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" 
                        style="color: #012970;" asp-controller="SuperAdmin" asp-action="SuperAdminBlogPage"> <i class="fa fa-pencil-square-o icon"></i>&nbsp; BlogPost </a>
                        <hr class="dropdown-divider" />
                </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" 
                        style="color: #012970;" asp-controller="Blog" asp-action="AdminBlogPage"> <i class="fa fa-pencil-square-o icon"></i>&nbsp; BlogPost </a>
                        <hr class="dropdown-divider" />
                    </li>
                }
                @*<li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Blog" asp-action="AdminBlogPage"> <i class="fa fa-pencil-square-o icon"></i>&nbsp; BlogPost </a>
                    <hr class="dropdown-divider" />
                </li>*@

                 <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="SuperAdmin" asp-action="ApprovedPosts"><i class="fa fa-check" icon"></i>&nbsp; ApprovedPosts </a>
                        <hr class="dropdown-divider" />
                 </li>
                 <li class="nav-item">
                     <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Contact" asp-action="AdminContactPage"> <i class="fa fa-envelope icon"></i>&nbsp; Contact </a>
                     <hr class="dropdown-divider" />
                 </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Reviews" asp-action="AdminReviews"><i class="fa fa-comments icon"></i>&nbsp; Comments </a>
                    <hr class="dropdown-divider" />
                </li>
             @*<li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Video" asp-action="AdminVideoPage"> <i class="fa fa-video-camera icon"></i>&nbsp; Videos </a>
                    <hr class="dropdown-divider" />
             </li>*@
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="FAQs" asp-action="FAQs"> <i class="fa fa-question-circle icon"></i>&nbsp; FAQs </a>
                    <hr class="dropdown-divider" />
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #012970;" asp-controller="Account" asp-action="Logout"> <i class="fa fa-sign-out icon"></i>&nbsp; Logout </a>
                </li>
                </ul>
                </aside>


                <div class="container">
                    <main role="main" class="pb-2 bg-light">
                        @RenderBody()
                    </main>
                </div>


                <footer class="footer text-dark" id="master">
                    <hr style="width: 100%; text-align: center;" />
                    <div class="container text-center" style="font-family: 'Times New Roman';">
                        <p>  &copy; 2022 - TeeBlog - All Rights Reserved.T<sup>M</sup></p>
                    </div>
                </footer>


                <script src="~/js/sweetalert.min.js"></script>
                <script src="~/js/sweetalert2.all.min.js"></script>
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/js/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
                <script src="~/summernote/summernote-bs4.min.js"></script>
                @*<script src="~/lib/bootstrap/dist/js/bootstrapjs.js"></script>*@
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                @*<script src="~/lib/jquery/dist/custom.js"></script>*@
                <script src="~/lib/jquery/dist/smoothscroll.js"></script>
                <script src="~/lib/jquery/dist/wow.min.js"></script>
                <script src="~/lib/jquery/dist/owl.carousel.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/js/Teeblog.js" asp-append-version="true"></script>
                @*<script src="~/simple-datatables/simple-datatables.js" asp-append-version="true"></script>*@
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"> </script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
                <!-- include summernote js -->

                @*  <script src="~/summernote/summernote-bs4.js"></script>*@


                @* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
                @*<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>*@
                @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>*@

                @await RenderSectionAsync("Scripts", required: false)
   </body>
</html>