<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TEEBLOG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TEEBLOG.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top mb-2 p-3" style=" background-color: lightgray;">
            <div class="container-fluid">
                <a class="navbar-brand font-2 font-weight-bold" asp-area="" asp-controller="Base" asp-action="Index">TeeBlog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="Base" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="Category" asp-action="Category"> Category </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="" asp-action="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="" asp-action="Videos">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font" asp-area="" asp-controller="" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-white">
        <div class="container text-center" style="font-family: 'Times New Roman';">
           <p>  &copy; 2022 - TeeBlog - All Rights Reserved.T<sup>M</sup></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrapjs.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   @* <script src="~/lib/jquery/dist/custom.js"></script>*@
    <script src="~/lib/jquery/dist/smoothscroll.js"></script>
    <script src="~/lib/jquery/dist/wow.min.js"></script>
    <script src="~/lib/jquery/dist/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Teeblog.js" asp-append-version="true"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>