
@{
    ViewData["Title"] = "AddBlogPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<aside class="sidebar">
    <ul class="sidebar-nav mt-3">
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Dashboard"> <i class="fa fa-user"></i>&nbsp; Dashboard </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="BlogPost"> <i class="fa fa-user"></i>&nbsp; BlogPost </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Category"> <i class="fa fa-user"></i>&nbsp; Category </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Videos"> <i class="fa fa-user"></i>&nbsp; Videos </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Music"> <i class="fa fa-user"></i>&nbsp; Music </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Profile"> <i class="fa fa-user"></i>&nbsp; Profile </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="FAQs"> <i class="fa fa-question-circle"></i>&nbsp; FAQs </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login"> <i class="fa fa-sign-out"></i>&nbsp; Logout </a>
        </li>
    </ul>
</aside>
<div style="margin-top: 100px;"></div>
<div class="container-fluid" id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12 m-auto">
                <ul class="breadcrumb bg-light justify-content-start mx-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">BlogPost</li>
                    <li class="breadcrumb-item active">AddBlogPost</li>
                </ul>
            </div>
        </div>
    </div>
    <br /> <br />
 
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-9 col-lg-9 col-xl-9 card m-auto">
                <h3 class="h5 font-weight-bold my-3 text-center"> Add Post </h3>
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" id="Title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="Upload Picture"> Upload Picture</label>
                    <input type="file" id="picture" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="Heading"> Heading</label>
                    <input type="text" id="heading" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description"> Short Description </label>
                    <input type="text" id="description" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block"> Add Blog</button>
            </div>
        </div>
    </div>
</div>



