@model Core.Models.Category
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}


<div style="margin-top: 100px;"></div>
<div class="container-fluid" id="master">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="font-weight-bold mx-3" style="color: #012970;">Edit Category</h4>
                <ul class="breadcrumb bg-transparent justify-content-start font-weight-bold" style="color:#899bbd;">
                    <li class="breadcrumb-item">Category</li>
                    <li class="breadcrumb-item active" style="color: #51678f;">Edit Category</li>
                </ul>
            </div>
        </div>
    </div>
    <br /> <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-9 col-lg-9 col-xl-9 m-auto">
                <div class="card bg-white p-2">
                    <h3 class="h5 font-weight-bold my-3 text-center" style="color: #012970;"> Edit Category </h3>
                    <form method="POST">
                        <input asp-for="Id" hidden />
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" required>
                        </div> <br />
                        <div class="center">
                            <button type="submit" class="btn btn-success w-25 p-2"> Update Category</button>
                            &nbsp;
                            <a class="btn btn-success w-25 p-2" asp-controller="Admin" asp-action="Category"> Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




