
@{
    ViewData["Title"] = "Video";
}

<span class="fix text-white bg-success"> <a href="https://chat.whatsapp.com/"> Join our WhatsApp Group</a> </span>
<br />
<br />
<br />
<br />
<h2 class="h5" style="font-family:Times New Roman;"> Videos </h2>
<br />
<div class="container p-2 mt-2">
    <div class="row">
        <div class="col-sm-12 col-xm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="row">
                <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="blog-inner">
                        <div class="blog-img">
                            <a class="stretched-link" asp-controller="Blog" asp-action="Blog">
                                <img src="~/img/health-2.jpg" width="100%" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                    <p class="h6 text-secondary mx-3" style="font-size:12px;"> HEALTH - JULY,2022 </p>
                    <p class="lead mx-0" style="font-size:25px; font-family:'Times New Roman'; line-height:1.1em;"> <b> <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Blog">  11+ Foods That Helps To Boost Your Immune System Today</a></b> </p>
                    <p class="mx-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus exercitationem? Nihil tempore odit ab minus eveniet praesentium, similique blanditiis molestiae ut saepe perspiciatis officia nemo, eos quae cumque.</p>
                </div>
            </div>
            <br /> <br />
        </div>
        <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3">
            <h4 class="text-center font-weight-bold p-3">Trending</h4>
            <hr />
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> BUSINESS - JULY,2022 </p>
                <b> 17 Pictures of Medium Length Hair in Layers</b>
                <br /> <br />
                <p class="text-muted" style="font-family: 'Times New Roman';"> Teena Ugwu</p>
                <hr />
            </a>

            <h5 class="text-left font-2" style="text-decoration:underline;"><b>Categories</b></h5>
            <ul class="info">
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Health</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Business</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Lifestyle</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Sports</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Culture</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Food</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Trending Clothes</a>
                </li>
                <li class="navbutton">
                    <a class="text-dark" asp-controller="Category" asp-action="Category">Entertainment</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div style="margin-top: 100px;"></div>

