
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin-top: 100px;"></div>
<div class="container-fluid" id="master">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="font-weight-bold mx-3" style="color: #012970;">Dashboard</h4>
                <ul class="breadcrumb bg-transparent justify-content-start font-weight-bold" style="color:#899bbd;">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" style="color: #51678f;">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card p-2 bg-white">
                <div class="card-body" style=" color: #012970;">
                    <h5 class="card-title text-center mt-1"> Category</h5>
                    <div class="rounded-circle">
                        <p class="text-muted float-left">Added Categories</p>
                        <button class="font-weight-bold h6 float-right justify-content-end" style="color: ghostwhite; background-color: #012970; border-radius: 30px; outline:none ;">4 </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card p-2 bg-white">
                <div class="card-body" style=" color: #012970;">
                    <h5 class="card-title text-center mt-1"> Blog Post</h5>
                    <div class="rounded-circle">
                        <p class="text-muted float-left">Added Post</p>
                        <button class="font-weight-bold h6 float-right justify-content-end" style="color: ghostwhite; background-color: #012970; border-radius: 30px; outline:none ;">5 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card p-2 bg-white">
                <div class="card-body" style=" color: #012970;">
                    <h5 class="card-title text-center mt-1"> Videos</h5>
                    <div class="rounded-circle">
                        <p class="text-muted float-left">Added Videos</p>
                        <button class="font-weight-bold h6 float-right justify-content-end" style="color: ghostwhite; background-color: #012970; border-radius: 30px; outline:none ;">4 </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
        </div>
    </div>

</div>

