@model Core.Models.Support
@{
    ViewData["Title"] = "Contact";
}

<span class="fix text-white bg-success"> <a href="https://chat.whatsapp.com/"> Join our WhatsApp Group</a> </span>
<div style="margin-top: 100px;"></div>
<div class="container p-2 mt-2">
    <h2 class="text-center font-weight-bold" style="font-family:Times New Roman; color: #012970;"> <b> Contact Us</b> </h2>
    <div class="text-center">Feel free to reach out to us anytime, anyday </div>
    <div style="margin-top: 70px;"></div>
    <div class="row mt-4"> 
        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6"> 
            <div class="row">
                <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6 mt-3"> 
                    <div class="card bg-light p-2">
                       <div class="text-center"> 
                            <i class="fa fa-map-marker text-success p-2" style="font-size: 40px;"></i>
                            <p class="lead" style="font-size:15px; font-family:'Times New Roman',; line-height:1.2em; color: #012970;"> <b> Address</b> </p>
                            <p style="font-family:'Times New Roman';"> Ugboezeji, Abakpa Nike, Enugu, Nigeria </p>
                       </div>
                    </div>  
                </div>
                <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                    <div class="card bg-light p-2">
                        <div class="text-center">
                            <i class="fa fa-mobile text-success p-2" style="font-size: 40px;"></i>
                            <p class="lead" style="font-size:15px; font-family:'Times New Roman',; line-height:1.2em; color: #012970;"> <b> Phone</b> </p>
                            <p style="font-family:'Times New Roman';"> +234 -+234 98 6783 5432 <br />+234 -+234 98 6783 5432 </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                 <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                    <div class="card bg-light p-2">
                       <div class="text-center">
                          <i class="fa fa-envelope-o text-success" style="font-size: 40px;"></i>
                          <p class="lead mt-4" style="font-size:15px; font-family:'Times New Roman',;line-height:1.2em; color: #012970;"> <b> Email Address</b> </p>
                          <p style="font-family:'Times New Roman';"> hello@teeblocg.com </p>
                       </div>
                    </div>
                 </div>
                <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                    <div class="card bg-light p-2">
                        <div class="text-center">
                        <i class="fa fa-globe text-success" style="font-size: 40px;"></i>
                        <p class="lead mt-4" style="font-size:15px; font-family:'Times New Roman',;line-height:1.2em; color: #012970;"> <b> Web Address</b> </p>
                        <p style="font-family:'Times New Roman';"> www.teeblog.com </p>
                    </div>
                  </div>
                </div>
              </div>
        </div> 

        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
            <div class="card bg-light p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Name"> Name </label>
                                <input type="text" id="name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Email"> Email </label>
                                <input type="email" id="email" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="Subject"> Subject </label>
                                <input type="text" id="subject" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="Message"> Message </label>
                                <textarea cols="5" rows="5" class="form-control" id="message" placeholder="Message"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" onclick="AddSupport()" class="btn btn-success"> Send Message </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div style="margin-top: 100px;"></div>



