html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  #master {
        margin-left: 200px;
        margin-right: auto;
        width: 80%;
    }

   .copyright {
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: black;
        text-align: center;
    }

  .footer {
        padding-bottom: 0px;
        width: 100%;
        line-height: 1.6em;
    }

}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

a { text-decoration: none;

}
.font{font-family: 'Times New Roman';
      font-size: large;

}
.font-2 {
    font-family: 'Times New Roman';
}

.carousel {
    margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 8rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.carousel-item-2 {
    height: 10rem;
}

.vertical {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
    height: 850px;
    border-left: 1px solid gray;

}

.info {
    list-style-type:symbols(*);
    padding: 0px;
}

 .info li {
        padding-top: 10px;
        text-align: left;
        font-size: 1em;
        border-bottom: 1px dotted black;
        font-family: 'Times New Roman';
    }

 .info li a {
            text-decoration: none;
            color: gray;
  }

.info li a:hover {
                color: ghostwhite;
   }

.f-2 {
    width: 100%;
    color: gray;
    font-family: 'Times New Roman';
    background-color:black; 
    padding: 10px;

}

.navbutton {
    transition: 0.3s ease 0s;
}

.navbutton:hover {
        transform: scale(0.8);
}


.blog-inner {
    background: #ffffff;
    text-align: center;
    margin-bottom: 2px;
}

.blog-img {
    height: 100%;
}

.blog-img {
    overflow: hidden;
}

.blog-img img {
        transition: all 0.9s ease 0s;
    }

.blog-inner:hover .blog-img img {
    -moz-transform: scale(1.5) rotate(-10deg);
    -webkit-transform: scale(1.5) rotate(-10deg);
    -ms-transform: scale(1.5) rotate(-10deg);
    -o-transform: scale(1.5) rotate(-10deg);
    transform: scale(1.5) rotate(-10deg);
}

.blog-inner a {
    border-radius: 2px;
    transition: .2s;
    letter-spacing: 1px;
    padding: 10px 18px;
    background: #ffffff;
    color: #12557f;
    font-size: 14px;
    display: inline-block;
    line-height: 24px;
}

.fix{position:fixed;
     bottom:40px;
     right:10px;
     text-align:center;
     width: 230px;
     padding: 3px;
     border-radius: 3px;
     z-index:100;
}
.fix a{text-decoration: none;
       color: white;

}
.fix a:hover {
        text-decoration: none;
        color: white;
    }

.first{float: left;
       font-size:70px;
       display: inline;
       line-height: 60px;
       padding-left:5px;
       font-family: 'Times New Roman';
       padding-right:5px;
       padding-top: 5px;


}
.sidebar{
    height: 100%;
    position:fixed;
    left:0;
    top: 50px;
    bottom:0;
    width: 200px;
    z-index: 900;
    transition:all 0.4s;
    padding: 20px;
    background-color: black;
}
.sidebar-nav{
        padding: 0;
        margin: 0;
        list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav nav-item{
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar-nav .nav-link{
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding:10px 15px;
    color: ghostwhite;
}
#master{
    margin-left: 220px;
    margin-right: 10px;

}
